@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.circle {
	$side: 18px;
	height: $side;
	width: $side;
	display: inline-block;
	@include border-radius($side);
	border: 1px solid #777;
	i {
		top: -2px;
	    left: 2px;
	    font-size: 0.875em;
	    position: relative;
	}
}
.inverse > .circle {
	border-color: #fff;
}
header { 
	border-bottom: 2px solid $color-blue-dark;
	li { display: inline-block; }
}

// -------------------------- main --------------------------
$border-main: 1px solid #ccc;
.main {
	$border: 2px solid #ccc;
	border-left: $border;
	border-right: $border;
	//height: 100%;
}
// -------------------------- main - content (right panel) --------------------------
$mc-padding: 25px;
.main__content {
}
.main__content__controls {
	//@include flex( flex, space-between, flex-start, wrap);
	padding: 20px $mc-padding 10px;
	border-bottom:$border-main;
	color: #555;
	position: relative;
	z-index: 100;
}
.main__content__controls__row {
	@include flex( flex, space-between, baseline, wrap);
	> :not(:last-child) {
		margin-right: 30px;
	}
}
[class*="main__content__controls__"] {
	&:not(.main__content__controls__row) {
		@include flex-size(0, 0);
		padding: 8px 0;	
	}
}
.main__content__controls__origcont {
	flex-grow: 1 !important;
	color: $color-blue-medium;
	@include flex(flex, flex-start, center);
	> .circle {
		margin-right: 5px;
		border: 1px solid $color-blue-medium;
		i {
		    color: #fff;
		    text-shadow: 0px 0px 1px $color-blue-dark;
		}
	}
}
.main__content__controls__sort {
	flex-grow: 0;
	> i { font-size: 1.2em; }
	span.selected {
		color: $color-blue-medium;
	}
}
.main__content__controls__view {
	position: relative;
	top: 3px;
	> i {
		font-size: 1.5em;
		&:not(:last-child) {
			margin-right: 5px;
		}
		&.selected { color: $color-blue-medium; }
	}
}
// -------------------------- main - content - card --------------------------
.main__content__cards {
	overflow-y: auto;
	padding: $mc-padding;
	width: 100%;
}
.main__content__card {
	position: relative;
	margin-bottom: 30px;
	color: #777;
}
.main__content__card__inner {
	width: calc(100% - 20px);
	padding: 0px;
	position: relative;
	border: $border-main;
	border-top: 4px solid #f83137;
}
#clone_card_1, #clone_card_2, #clone_card_3 {
	display:none;
}
$card-section-bottom: 10px;
.main__content__card__section {
	width: 100%;
	padding: 0px 10px $card-section-bottom;
	&:not(:last-child) {
		border-bottom: $border-main;
		margin-bottom: $card-section-bottom;
	};
}
.main__content__card__actions {
	&.main__content__card__section { border-bottom: none; }
	position: absolute;
	padding: 5px 10px;
	@include flex(flex, space-between, flex-start);
	> div {
		position:relative;
		top: -3px;
	}
	> .circle {
		top: -1px;
	}
	&.inverse {
		height: 30px;
		background: -moz-linear-gradient(top,  rgba(51,51,51,0.7) 0%, rgba(51,51,51,0) 100%); /* FF3.6-15 */
		background: -webkit-linear-gradient(top,  rgba(51,51,51,0.7) 0%,rgba(51,51,51,0) 100%); /* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(to bottom,  rgba(51,51,51,0.7) 0%,rgba(51,51,51,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		color: #fff;
	}
}
.main__content__card__image {
	@include placeholder-image();
}
.main__content__card__info {
	> * {
		padding: 0 5px 5px 5px;
		&:last-child { padding-bottom: 0; }
	}
	> .cd-title {
		color: $color-blue-dark;
		font-weight: 600;
	}
	> .cd-reviews {
		@include flex(flex, space-between, center);
		.star-grp {
			color: $color-yellow; 
			i { margin-right: 3px; }
		}
		.eye-action {
			flex-grow: 1;
			text-align: right;
			color: $color-blue-dark;
			font-size: 1.2em;
		}
	}
}
.main__content__card__abstract {
	a { 
		display:inline-block;
		margin-top: 10px;
	}
}
.main__content__card__footer {
	//padding: 0px 10px $card-section-bottom;
	@include flex(flex, flex-start, center);
	> :first-child {
		flex-grow: 1;
	}
	:not(:first-child):not(:last-child) {
		margin-right: 15px;
	}
}
// -------------------------- main - folders (left panel) --------------------------
.main__folders {
	height: 100%;
	padding-right:5px;
}
.main__folders__inner {
	//background-color: $color-blue-light;
	border-right: $border-main;
	//width: 100%;
}
.main__folders__inner__controls {
	padding: 25px 10px;
	@include flex( flex, space-between, center);
	border-bottom: $border-main;
	font-size: 0.875em;
}
.main__folders__inner__content {
	overflow-y:auto;
}
[class*="main__folders__inner__content__item--"] {
	// display:flex;
	// padding: 10px 15px;
	border-bottom: $border-main;
	font-weight: 600;
	&.selected {
		color: $color-blue-dark;
	}
	i {	
		font-size: 2em;
		&.icon-for-text {
			margin-right: 10px;
		}
	}	
}
[class*='main__folders__inner__content__item'] > .book-end {
	width:100%;
	height: 20px;
	background-color: $color-blue-light;
	&:first-child {
		border-top: none;
		border-bottom: $border-main;
	}
	&:last-child {
		border-top: $border-main;
		border-bottom: none;
	}
}
.main__folders__inner__content__item--primary {
	.main__folders__inner__content__item__content {
		align-items: center;
	}
}
.main__folders__inner__content__item--secondary {
	span { font-size: 0.875em; }
	color: $color-blue-dark;
	&.selected {
		color: $color-text-light;
		background-color: $color-blue-dark;
		span { color: $color-text-light; }
	}
	.main__folders__inner__content__item__content {
		text-indent: 20px;
	}
}
.main__folders__inner__content__item__content {
	@include flex( flex );
	padding: 10px 15px;
}
.main__folders__inner__content__item__text {
	@include flex( flex, flex-start, flex-start, no-wrap);
	flex-flow: column;
	text-indent: 0px;
	span {
		margin-top: 2px;
		font-weight: 400;
		color: #999;
	}
}
// -------------------------- header primary --------------------------
.header__primary {
	width: 100%;
	background-color: $color-gray-dark;
}
.header__primary__content {
	@include flex( flex, space-between, center);
}
.header__primary__content__logo {
	color: $color-text-light;
	letter-spacing: 2px;
	flex-grow:1;
	font-size: 2em;
	vertical-align:center;
}
.header__primary__content__nav {
	> ul {
		display: flex;
		align-items: center;
	}
	li {
		font-size: 0.875em;
		&:not(:last-child) {
			margin-right: 20px;
		}
		display: flex;
		align-items: center;
		cursor: pointer;
	}
	.fa-chevron-down {
		margin-right: 0px;
		margin-left: 5px;	
	}
	a { color: $color-gray-medium; }
	$icon-padding-y: 4px;
	.user-icon {
		display: inline-block;
		padding: $icon-padding-y 8px;
		background-color: $color-gray-medium;
		margin-right: 10px;
		cursor: default;
	}
	.fa-user {
		position: relative;
		top: $icon-padding-y - 1px;
		font-size: 3em;
		color: #606060;
	}
}
// -------------------------- header secondary --------------------------
.header__secondary {
	width: 100%;
	background-color: $color-blue-medium;
	color: $color-text-light;
}
.header__secondary__content__nav {	
	a {
		padding: 10px 20px;
		display:inline-block;
		font-size: 1.2em;
		color: $color-text-light;
		&.selected {
			background-color: $color-text-light;
			color: #000;
		}	
	}
}
// -------------------------- header tertiary --------------------------
.header__tertiary {
	width: 100%;
	background-color: $color-text-light;
	color: $color-blue-medium;
}
.header__tertiary__content {
	@include flex( flex, space-between, center);
}
.header__tertiary__content__nav {	
	@include flex-size(1, 0);
	li {
		padding: 10px 10px;
		&:first-child {
			padding-left: 20px;
		}
	}
	a {
		padding: 0px 10px;
		display:inline-block;
		font-size: 1.2em;
		@include border-radius(2px);
		color: $color-blue-medium;
		&.selected {
			background-color: $color-blue-medium;
			color: $color-text-light;
		}	
	}
}
#addResource {
	transform: rotate(0deg);
	&:hover {
		i {
			animation-duration: 1s;
	  		animation-name: rotate;
	  		animation-iteration-count: infinite;
	  		animation-timing-function: linear;
	  	}
	}
}