/* ----------- modal transitions ----------- */
.fade {
	opacity: 0;
	transition: opacity 0.25s ease;
}
.fade.in {
	opacity: 1;
}
.modal.fade > .modal__dialog {
	transform: scale(0.3) translate(0, -75%);
	transition: transform 0.5s ease;
}
.modal.in > .modal__dialog {
	transform: scale(1) translate(0, 0);
}
/* ----------- modal ----------- */
.modal {
	display:none;
	// pointer-events: none;
	overflow-x:hidden;
	overflow-y:hidden;
	height: 100%;
	position:fixed;
	top:0;
	right:0;
	bottom:0;
	left:0;
	z-index:1050;
}
.modal__close {
	float:right;
}
.modal__close.bottom {
	color:#333;
	border: 1px solid #B1B2B2;
	background-color: #fff;
	-webkit-border-radius: 4px;
	border-radius: 4px;
}
.modal__footer:after {
	content: "";
  	display: table;
  	clear: both;
}
.modal__dialog {
	@include flex(flex, flex-start, flex-start);
	@include box-shadow (0 4px 12px 2px rgba(0,0,0,0.3));
	flex-flow: column;
	height: 90%;
	top: 5%;
	position: relative;
	z-index:1050;
	width: 900px;
	> * {
		@include flex-size(0, 0);
	}
	margin:0 auto;
	background-color: #fff;
}
.modal a {
	text-decoration: none;
	color: $color-text-light;
}
.modal__header {
	padding: 12px 20px;
 	background-color: $color-blue-dark;
 	font-size:1.2em;
 	color: $color-text-light;
	height: $modal-header-footer-height;
	width: 100%;
	position: relative;
	z-index: 200;
}
.modal__body {
	position: relative;
 	padding: 15px 50px 25px 50px;
 	overflow-y: auto;
 	height: calc(100% - 2*#{$modal-header-footer-height});
}
.modal__footer {
	height: $modal-header-footer-height;
	width: 100%;
	padding: 0 20px;
	@include flex(flex, flex, center);
	background-color: #fff;
 	border-top: 1px solid #ccc;
 	> :first-child {
 		@include flex-size(1, 0);
 	}
 	> :not(:last-child) {
 		margin-right: 10px;
 	}
}
.modal__bg {
	display: none;
	position:fixed;
	top:0;
	right:0;
	bottom:0;
	left:0;
	z-index:1040;
	background-color: rgba(0,0,0,0.75);
}