@import "compass/css3";

$stepColor: $color-blue-light;
$stepColorHover: $color-blue-light;
$stepColorCompleted: #fff;
$textColor: #aaa;
$textColorCompleted: #333;
$height: 30px;

.modal__body__steps {
  width: 100%;
  position: absolute;
  top: $modal-header-footer-height;
  left: 0;
}
.modal__body__steps__bg {
  width: 100%;
  background-color: $color-blue-light;
  border-bottom: 1px solid #ccc;
  height: $height + 1;
  position: absolute;
  top: 0;
  left: 0;
}
.modal__body__step-indicator {
  margin-bottom: 20px;
  line-height: $height;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #fff;
  border-bottom: 1px solid #ccc;
}
.modal__body__step-indicator__step {
  font-size: 0.8em;
  display: block;
  float: left;
  background: $stepColor;
  padding-right: 10px;
  height: $height;
  line-height: 30px;
  margin-right: 33px;
  position: relative;
  text-decoration: none;
  color: $textColor;
  cursor: default;
    
  &:before {
    content: "";
    display: block;
    width: 0;
    height: 0;
    position: absolute;
    top: 0;
    left: -30px;
    border: 15px solid transparent;
    border-color: $stepColor;
    border-left-color: transparent;
  }
    
  &:after {
    content: "";
    display: block;
    width: 0;
    height: 0;
    position: absolute;
    top: 0;
    right: -30px;
    border: 15px solid transparent;
    border-left-color: $stepColor;
  }
    
  &:first-of-type {
    //border-radius: 2px 0 0 2px;
    padding-left: 15px;
    
    &:before {
      display: none;
    }
  }
  
  &.no-after {
    &:after {
      display: none;
    }
  }
  &:last-of-type {
    //border-radius: 0 2px 2px 0;
    margin-right: 0; //25px;
    padding-right: 0; //15px;
      
    &:after {
      display: none;
    }
  }

  &.completed {
    background: $stepColorCompleted;
    color: $textColorCompleted;
    cursor: pointer;

    &:before {
      border-color: $stepColorCompleted;
      border-left-color: transparent;
    }

    &:after {
      border-left-color: $stepColorCompleted;
    }

    // &:hover {
    //   background: $stepColorHover;
    //   border-color: $stepColorHover;
    //   color: $textColorCompleted;
    //   text-decoration: none;
        
    //   &:before {
    //     border-color: $stepColorHover;
    //     border-left-color: transparent;
    //   }
          
    //   &:after {
    //     border-left-color: $stepColorHover;
    //   }
    // }
  }
}