// settings - includes all $variables (colors, etc), @mixin, @function, and @media
@import "compass/css3";
@import 'mixins';
@import 'grid';

$color-gray-dark:#2d3237;
$color-gray-medium:#b0b9c2;
$color-blue-dark:#0d61a6;
$color-blue-medium:#3b79b1;
$color-blue-light: #dcf0fb;
$color-yellow: #fcb930;
$color-text-light: #fff;
$base-font-size: 14px;
$modal-header-footer-height: 50px;
$progress-indicator-height: 40px;

@mixin check-shadow() {
	@include text-shadow(0px 0px 1px $color-blue-dark);
}
@mixin placeholder-image( $h:150px ) {
	height: $h;
	background-color: #eee;
	text-align: center;
	i {
		color: #ddd;
		font-size: $h * 0.8;
		position:relative;
		top: $h * 0.1;
	}
}

// basic styles for mark-up overrides
.flex-grow0 { flex-grow: 0 !important; }
.flex-grow1 { flex-grow: 1 !important; }
.flex-shrink0 { flex-shrink: 0 !important; }
.flex-shrink1 { flex-shrink: 1 !important; }
.width100 { width:100% !important; }
.margin0 { margin: 0 !important; }
.marginbot0 { margin-bottom: 0 !important; }
.pad0 { padding: 0!important; }


html, body {
	font-family: 'Open Sans', sans-serif;
	background-color: #fff;
	height: 100%;
	font-size: $base-font-size;
}
a {
	text-decoration: none;
	cursor: pointer;
	color: $color-blue-medium;
	&.selected { cursor: default; }
	&:hover:not(.selected) { text-decoration: underline; }
}
ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}
.hidden { visibility: hidden; }
.btn {
	$padding: 30px;
	padding-left: $padding;
	padding-right: $padding;
	$dark: #ccc;
	$med: #ddd;
	$light: #eee;
	@include border-radius( 2px );
	border: 1px solid $dark;
	@include gradient($light, $med);
	&:hover { @include gradient($med, $dark); }
	&[disabled] {
		cursor: default;
		opacity: 0.5;
		&:hover { @include gradient($light, $med); }
	}
}
.btn-primary {
	$dark: #204d74;
	$med: #2e6da4;
	$light: #337ab7;
	color: #fff;
	border: 1px solid $dark;
	@include gradient($light, $med);
	&:hover { @include gradient($med, $dark); }
	&[disabled]:hover { @include gradient($light, $med); }
}
.icon-for-text { margin-right: 5px; }
.scrolled { @include box-shadow( 0 3px 0 0 rgba(0,0,0,0.15) ); }
.scrolled-inverse { @include box-shadow( 0 -3px 0 0 rgba(0,0,0,0.06) ); }
.circle {
	$side: 18px;
	height: $side;
	width: $side;
	display: inline-block;
	@include border-radius($side);
	border: 1px solid #777;
	i {
		top: -2px;
	    left: 2px;
	    font-size: 0.875em;
	    position: relative;
	}
}
.inverse > .circle {
	border-color: #fff;
}

// modal content steps
.modal__body__content1 { display: block; }
.modal__body__content2 { display: none; }

@import 'header';
@import 'landing';
@import 'modal';
@import 'modal-content1';
@import 'modal-content2';
@import 'progress-indicator';

@media screen and (max-width: 767px) {
  body, .modal {
  	padding-left: 15px;
  	padding-right: 15px;
  }
  .grid, .modal__dialog {width: 100%; }
}
@media screen and (min-width: 768px) {
  .grid, .modal__dialog { width: 750px; }
}
@media screen and (min-width: 992px) {
  .grid, .modal__dialog { width: 970px; }
}
@media screen and (min-width: 1200px) {
  .grid, .modal__dialog { width: 1170px; }
}