/* ----------- grid ----------- */
/* line 2, ../sass/_grid.scss */
*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 7, ../sass/_grid.scss */
.grid {
  width: 900px;
  margin: 0 auto;
}

/* line 11, ../sass/_grid.scss */
.grid:after, .top-bar:after {
  content: "";
  display: table;
  clear: both;
}

/* line 17, ../sass/_grid.scss */
.grid-pad {
  padding: 0 0 0 20px;
}

/* line 18, ../sass/_grid.scss */
.grid-pad > .col:last-of-type {
  padding-right: 20px;
}

/* line 19, ../sass/_grid.scss */
.col {
  float: left;
  padding-right: 20px;
  width: 33.3%;
}

/* line 24, ../sass/_grid.scss */
.col:last-of-type, .col.no-pad {
  padding-right: 0;
}

/* line 25, ../sass/_grid.scss */
.col-12-12 {
  width: 100%;
}

/* line 26, ../sass/_grid.scss */
.col-9-12 {
  width: 75%;
}

/* line 27, ../sass/_grid.scss */
.col-8-12 {
  width: 66.6%;
}

/* line 28, ../sass/_grid.scss */
.col-6-12 {
  width: 50%;
}

/* line 29, ../sass/_grid.scss */
.col-4-12 {
  width: 33.3%;
}

/* line 30, ../sass/_grid.scss */
.col-3-12 {
  width: 25%;
}

/* line 31, ../sass/_grid.scss */
.col-off-9-12 {
  left: 75%;
}

/* line 32, ../sass/_grid.scss */
.col-off-8-12 {
  left: 66.6%;
}

/* line 33, ../sass/_grid.scss */
.col-off-6-12 {
  left: 50%;
}

/* line 34, ../sass/_grid.scss */
.col-off-4-12 {
  left: 33.3%;
}

/* line 35, ../sass/_grid.scss */
.col-off-3-12 {
  left: 25%;
}

/* line 33, ../sass/main.scss */
.flex-grow0 {
  flex-grow: 0 !important;
}

/* line 34, ../sass/main.scss */
.flex-grow1 {
  flex-grow: 1 !important;
}

/* line 35, ../sass/main.scss */
.flex-shrink0 {
  flex-shrink: 0 !important;
}

/* line 36, ../sass/main.scss */
.flex-shrink1 {
  flex-shrink: 1 !important;
}

/* line 37, ../sass/main.scss */
.width100 {
  width: 100% !important;
}

/* line 38, ../sass/main.scss */
.margin0 {
  margin: 0 !important;
}

/* line 39, ../sass/main.scss */
.marginbot0 {
  margin-bottom: 0 !important;
}

/* line 40, ../sass/main.scss */
.pad0 {
  padding: 0 !important;
}

/* line 43, ../sass/main.scss */
html, body {
  font-family: 'Open Sans', sans-serif;
  background-color: #fff;
  height: 100%;
  font-size: 14px;
}

/* line 49, ../sass/main.scss */
a {
  text-decoration: none;
  cursor: pointer;
  color: #3b79b1;
}
/* line 53, ../sass/main.scss */
a.selected {
  cursor: default;
}
/* line 54, ../sass/main.scss */
a:hover:not(.selected) {
  text-decoration: underline;
}

/* line 56, ../sass/main.scss */
ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

/* line 61, ../sass/main.scss */
.hidden {
  visibility: hidden;
}

/* line 62, ../sass/main.scss */
.btn {
  padding-left: 30px;
  padding-right: 30px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  border-radius: 2px;
  border: 1px solid #ccc;
  background: #ddd;
  background: -moz-linear-gradient(top, #eee 0%, #ddd 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #eee), color-stop(100%, #ddd));
  background: -webkit-linear-gradient(top, #eee 0%, #ddd 100%);
  background: -o-linear-gradient(top, #eee 0%, #ddd 100%);
  background: -ms-linear-gradient(top, #eee 0%, #ddd 100%);
  background: linear-gradient(to bottom, #eeeeee 0%, #dddddd 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$color-top', endColorstr='$color-bottom',GradientType=0 );
}
/* line 72, ../sass/main.scss */
.btn:hover {
  background: #ccc;
  background: -moz-linear-gradient(top, #ddd 0%, #ccc 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ddd), color-stop(100%, #ccc));
  background: -webkit-linear-gradient(top, #ddd 0%, #ccc 100%);
  background: -o-linear-gradient(top, #ddd 0%, #ccc 100%);
  background: -ms-linear-gradient(top, #ddd 0%, #ccc 100%);
  background: linear-gradient(to bottom, #dddddd 0%, #cccccc 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$color-top', endColorstr='$color-bottom',GradientType=0 );
}
/* line 73, ../sass/main.scss */
.btn[disabled] {
  cursor: default;
  opacity: 0.5;
}
/* line 76, ../sass/main.scss */
.btn[disabled]:hover {
  background: #ddd;
  background: -moz-linear-gradient(top, #eee 0%, #ddd 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #eee), color-stop(100%, #ddd));
  background: -webkit-linear-gradient(top, #eee 0%, #ddd 100%);
  background: -o-linear-gradient(top, #eee 0%, #ddd 100%);
  background: -ms-linear-gradient(top, #eee 0%, #ddd 100%);
  background: linear-gradient(to bottom, #eeeeee 0%, #dddddd 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$color-top', endColorstr='$color-bottom',GradientType=0 );
}

/* line 79, ../sass/main.scss */
.btn-primary {
  color: #fff;
  border: 1px solid #204d74;
  background: #2e6da4;
  background: -moz-linear-gradient(top, #337ab7 0%, #2e6da4 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #337ab7), color-stop(100%, #2e6da4));
  background: -webkit-linear-gradient(top, #337ab7 0%, #2e6da4 100%);
  background: -o-linear-gradient(top, #337ab7 0%, #2e6da4 100%);
  background: -ms-linear-gradient(top, #337ab7 0%, #2e6da4 100%);
  background: linear-gradient(to bottom, #337ab7 0%, #2e6da4 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$color-top', endColorstr='$color-bottom',GradientType=0 );
}
/* line 86, ../sass/main.scss */
.btn-primary:hover {
  background: #204d74;
  background: -moz-linear-gradient(top, #2e6da4 0%, #204d74 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #2e6da4), color-stop(100%, #204d74));
  background: -webkit-linear-gradient(top, #2e6da4 0%, #204d74 100%);
  background: -o-linear-gradient(top, #2e6da4 0%, #204d74 100%);
  background: -ms-linear-gradient(top, #2e6da4 0%, #204d74 100%);
  background: linear-gradient(to bottom, #2e6da4 0%, #204d74 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$color-top', endColorstr='$color-bottom',GradientType=0 );
}
/* line 87, ../sass/main.scss */
.btn-primary[disabled]:hover {
  background: #2e6da4;
  background: -moz-linear-gradient(top, #337ab7 0%, #2e6da4 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #337ab7), color-stop(100%, #2e6da4));
  background: -webkit-linear-gradient(top, #337ab7 0%, #2e6da4 100%);
  background: -o-linear-gradient(top, #337ab7 0%, #2e6da4 100%);
  background: -ms-linear-gradient(top, #337ab7 0%, #2e6da4 100%);
  background: linear-gradient(to bottom, #337ab7 0%, #2e6da4 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$color-top', endColorstr='$color-bottom',GradientType=0 );
}

/* line 89, ../sass/main.scss */
.icon-for-text {
  margin-right: 5px;
}

/* line 90, ../sass/main.scss */
.scrolled {
  -webkit-box-shadow: 0 3px 0 0 rgba(0, 0, 0, 0.15);
  box-shadow: 0 3px 0 0 rgba(0, 0, 0, 0.15);
}

/* line 91, ../sass/main.scss */
.scrolled-inverse {
  -webkit-box-shadow: 0 -3px 0 0 rgba(0, 0, 0, 0.06);
  box-shadow: 0 -3px 0 0 rgba(0, 0, 0, 0.06);
}

/* line 92, ../sass/main.scss */
.circle {
  height: 18px;
  width: 18px;
  display: inline-block;
  -webkit-border-radius: 18px;
  -moz-border-radius: 18px;
  -ms-border-radius: 18px;
  border-radius: 18px;
  border: 1px solid #777;
}
/* line 99, ../sass/main.scss */
.circle i {
  top: -2px;
  left: 2px;
  font-size: 0.875em;
  position: relative;
}

/* line 106, ../sass/main.scss */
.inverse > .circle {
  border-color: #fff;
}

/* line 110, ../sass/main.scss */
.font-size-control {
  float: right;
  font-size: 0.875em;
}
/* line 113, ../sass/main.scss */
.font-size-control i {
  font-size: 1.2em;
}

/* line 119, ../sass/main.scss */
.modal__body__content1 {
  display: block;
}

/* line 120, ../sass/main.scss */
.modal__body__content2 {
  display: none;
}

/* line 1, ../sass/_header.scss */
header {
  border-bottom: 2px solid #0d61a6;
}
/* line 3, ../sass/_header.scss */
header li {
  display: inline-block;
}

/* line 7, ../sass/_header.scss */
.header__primary {
  width: 100%;
  background-color: #2d3237;
}

/* line 11, ../sass/_header.scss */
.header__primary__content {
  display: flex;
  display: -webkit-flex;
  justify-content: space-between;
  -webkit-justify-content: space-between;
  align-items: center;
  -webkit-align-items: center;
}

/* line 14, ../sass/_header.scss */
.header__primary__content__logo {
  color: #fff;
  letter-spacing: 2px;
  flex-grow: 1;
  font-size: 2em;
  vertical-align: center;
}

/* line 22, ../sass/_header.scss */
.header__primary__content__nav > ul {
  display: flex;
  align-items: center;
}
/* line 26, ../sass/_header.scss */
.header__primary__content__nav li {
  font-size: 0.875em;
  display: flex;
  align-items: center;
  cursor: pointer;
}
/* line 28, ../sass/_header.scss */
.header__primary__content__nav li:not(:last-child) {
  margin-right: 20px;
}
/* line 35, ../sass/_header.scss */
.header__primary__content__nav .fa-chevron-down {
  margin-right: 0px;
  margin-left: 5px;
}
/* line 39, ../sass/_header.scss */
.header__primary__content__nav a {
  color: #b0b9c2;
}
/* line 41, ../sass/_header.scss */
.header__primary__content__nav .user-icon {
  display: inline-block;
  padding: 4px 8px;
  background-color: #b0b9c2;
  margin-right: 10px;
  cursor: default;
}
/* line 48, ../sass/_header.scss */
.header__primary__content__nav .fa-user {
  position: relative;
  top: 3px;
  font-size: 3em;
  color: #606060;
}

/* line 56, ../sass/_header.scss */
.header__secondary {
  width: 100%;
  background-color: #3b79b1;
  color: #fff;
}

/* line 61, ../sass/_header.scss */
.header__secondary__content {
  position: relative;
}

/* line 62, ../sass/_header.scss */
.font-size-control {
  display: flex;
  display: -webkit-flex;
  justify-content: flex-end;
  -webkit-justify-content: flex-end;
  align-items: flex-start;
  -webkit-align-items: flex-start;
  position: absolute;
  right: 0;
  top: 12px;
  font-size: 0.875em;
  opacity: 0.35;
}
/* line 68, ../sass/_header.scss */
.font-size-control i {
  font-size: 1.5em;
  margin-left: 4px;
  cursor: pointer;
}

/* line 76, ../sass/_header.scss */
.header__secondary__content__nav a {
  padding: 10px 20px;
  display: inline-block;
  font-size: 1.2em;
  color: #fff;
}
/* line 81, ../sass/_header.scss */
.header__secondary__content__nav a.selected {
  background-color: #fff;
  color: #000;
}

/* line 88, ../sass/_header.scss */
.header__tertiary {
  width: 100%;
  background-color: #fff;
  color: #3b79b1;
}

/* line 93, ../sass/_header.scss */
.header__tertiary__content {
  display: flex;
  display: -webkit-flex;
  justify-content: space-between;
  -webkit-justify-content: space-between;
  align-items: center;
  -webkit-align-items: center;
}

/* line 96, ../sass/_header.scss */
.header__tertiary__content__nav {
  flex-grow: 1;
  -webkit-flex-grow: 1;
  flex-shrink: 0;
  -webkit-flex-shrink: 0;
  flex-basis: auto;
  -webkit-flex-basis: auto;
}
/* line 98, ../sass/_header.scss */
.header__tertiary__content__nav li {
  padding: 10px 10px;
}
/* line 100, ../sass/_header.scss */
.header__tertiary__content__nav li:first-child {
  padding-left: 20px;
}
/* line 104, ../sass/_header.scss */
.header__tertiary__content__nav a {
  padding: 0px 10px;
  display: inline-block;
  font-size: 1.2em;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  border-radius: 2px;
  color: #3b79b1;
}
/* line 110, ../sass/_header.scss */
.header__tertiary__content__nav a.selected {
  background-color: #3b79b1;
  color: #fff;
}

/* line 116, ../sass/_header.scss */
#addResource {
  transform: rotate(0deg);
}
/* line 119, ../sass/_header.scss */
#addResource:hover i {
  animation-duration: 1s;
  animation-name: rotate;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* line 12, ../sass/_landing.scss */
.main {
  border-left: 2px solid #ccc;
  border-right: 2px solid #ccc;
}

/* line 22, ../sass/_landing.scss */
.main__content__controls {
  padding: 20px 25px 10px;
  border-bottom: 1px solid #ccc;
  color: #555;
  position: relative;
  z-index: 100;
}

/* line 30, ../sass/_landing.scss */
.main__content__controls__row {
  display: flex;
  display: -webkit-flex;
  justify-content: space-between;
  -webkit-justify-content: space-between;
  align-items: baseline;
  -webkit-align-items: baseline;
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
}
/* line 32, ../sass/_landing.scss */
.main__content__controls__row > :not(:last-child) {
  margin-right: 30px;
}

/* line 37, ../sass/_landing.scss */
[class*="main__content__controls__"]:not(.main__content__controls__row) {
  flex-grow: 0;
  -webkit-flex-grow: 0;
  flex-shrink: 0;
  -webkit-flex-shrink: 0;
  flex-basis: auto;
  -webkit-flex-basis: auto;
  padding: 8px 0;
}

/* line 42, ../sass/_landing.scss */
.main__content__controls__origcont {
  flex-grow: 1 !important;
  color: #3b79b1;
  display: flex;
  display: -webkit-flex;
  justify-content: flex-start;
  -webkit-justify-content: flex-start;
  align-items: center;
  -webkit-align-items: center;
}
/* line 46, ../sass/_landing.scss */
.main__content__controls__origcont > .circle {
  margin-right: 5px;
  border: 1px solid #3b79b1;
}
/* line 49, ../sass/_landing.scss */
.main__content__controls__origcont > .circle i {
  color: #fff;
  text-shadow: 0px 0px 1px #0d61a6;
}

/* line 55, ../sass/_landing.scss */
.main__content__controls__sort {
  flex-grow: 0;
}
/* line 57, ../sass/_landing.scss */
.main__content__controls__sort > i {
  font-size: 1.2em;
}
/* line 58, ../sass/_landing.scss */
.main__content__controls__sort span.selected {
  color: #3b79b1;
}

/* line 62, ../sass/_landing.scss */
.main__content__controls__view {
  position: relative;
  top: 3px;
}
/* line 65, ../sass/_landing.scss */
.main__content__controls__view > i {
  font-size: 1.5em;
}
/* line 67, ../sass/_landing.scss */
.main__content__controls__view > i:not(:last-child) {
  margin-right: 5px;
}
/* line 70, ../sass/_landing.scss */
.main__content__controls__view > i.selected {
  color: #3b79b1;
}

/* line 74, ../sass/_landing.scss */
.main__content__cards {
  overflow-y: auto;
  padding: 25px;
  width: 100%;
}

/* line 79, ../sass/_landing.scss */
.main__content__card {
  position: relative;
  margin-bottom: 30px;
  color: #777;
}

/* line 84, ../sass/_landing.scss */
.main__content__card__inner {
  width: calc(100% - 20px);
  padding: 0px;
  position: relative;
  border: 1px solid #ccc;
  border-top: 4px solid #f83137;
}

/* line 91, ../sass/_landing.scss */
#clone_card_1, #clone_card_2, #clone_card_3 {
  display: none;
}

/* line 95, ../sass/_landing.scss */
.main__content__card__section {
  width: 100%;
  padding: 0px 10px 10px;
}
/* line 98, ../sass/_landing.scss */
.main__content__card__section:not(:last-child) {
  border-bottom: 1px solid #ccc;
  margin-bottom: 10px;
}

/* line 103, ../sass/_landing.scss */
.main__content__card__actions {
  position: absolute;
  padding: 5px 10px;
  display: flex;
  display: -webkit-flex;
  justify-content: space-between;
  -webkit-justify-content: space-between;
  align-items: flex-start;
  -webkit-align-items: flex-start;
}
/* line 104, ../sass/_landing.scss */
.main__content__card__actions.main__content__card__section {
  border-bottom: none;
}
/* line 108, ../sass/_landing.scss */
.main__content__card__actions > div {
  position: relative;
  top: -3px;
}
/* line 112, ../sass/_landing.scss */
.main__content__card__actions > .circle {
  top: -1px;
}
/* line 115, ../sass/_landing.scss */
.main__content__card__actions.inverse {
  height: 30px;
  background: -moz-linear-gradient(top, rgba(51, 51, 51, 0.7) 0%, rgba(51, 51, 51, 0) 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(51, 51, 51, 0.7) 0%, rgba(51, 51, 51, 0) 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(51, 51, 51, 0.7) 0%, rgba(51, 51, 51, 0) 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  color: #fff;
}

/* line 123, ../sass/_landing.scss */
.main__content__card__image {
  height: 150px;
  background-color: #eee;
  text-align: center;
}
/* line 24, ../sass/main.scss */
.main__content__card__image i {
  color: #ddd;
  font-size: 120px;
  position: relative;
  top: 15px;
}

/* line 127, ../sass/_landing.scss */
.main__content__card__info > * {
  padding: 0 5px 5px 5px;
}
/* line 129, ../sass/_landing.scss */
.main__content__card__info > *:last-child {
  padding-bottom: 0;
}
/* line 131, ../sass/_landing.scss */
.main__content__card__info > .cd-title {
  color: #0d61a6;
  font-weight: 600;
}
/* line 135, ../sass/_landing.scss */
.main__content__card__info > .cd-reviews {
  display: flex;
  display: -webkit-flex;
  justify-content: space-between;
  -webkit-justify-content: space-between;
  align-items: center;
  -webkit-align-items: center;
}
/* line 137, ../sass/_landing.scss */
.main__content__card__info > .cd-reviews .star-grp {
  color: #fcb930;
}
/* line 139, ../sass/_landing.scss */
.main__content__card__info > .cd-reviews .star-grp i {
  margin-right: 3px;
}
/* line 141, ../sass/_landing.scss */
.main__content__card__info > .cd-reviews .eye-action {
  flex-grow: 1;
  text-align: right;
  color: #0d61a6;
  font-size: 1.2em;
}

/* line 150, ../sass/_landing.scss */
.main__content__card__abstract a {
  display: inline-block;
  margin-top: 10px;
}

/* line 155, ../sass/_landing.scss */
.main__content__card__footer {
  display: flex;
  display: -webkit-flex;
  justify-content: flex-start;
  -webkit-justify-content: flex-start;
  align-items: center;
  -webkit-align-items: center;
}
/* line 158, ../sass/_landing.scss */
.main__content__card__footer > :first-child {
  flex-grow: 1;
}
/* line 161, ../sass/_landing.scss */
.main__content__card__footer :not(:first-child):not(:last-child) {
  margin-right: 15px;
}

/* line 166, ../sass/_landing.scss */
.main__folders {
  height: 100%;
  padding-right: 5px;
}

/* line 170, ../sass/_landing.scss */
.main__folders__inner {
  border-right: 1px solid #ccc;
}

/* line 175, ../sass/_landing.scss */
.main__folders__inner__controls {
  padding: 25px 10px;
  display: flex;
  display: -webkit-flex;
  justify-content: space-between;
  -webkit-justify-content: space-between;
  align-items: center;
  -webkit-align-items: center;
  border-bottom: 1px solid #ccc;
  font-size: 0.875em;
}

/* line 181, ../sass/_landing.scss */
.main__folders__inner__content {
  overflow-y: auto;
}

/* line 184, ../sass/_landing.scss */
[class*="main__folders__inner__content__item--"] {
  border-bottom: 1px solid #ccc;
  font-weight: 600;
}
/* line 189, ../sass/_landing.scss */
[class*="main__folders__inner__content__item--"].selected {
  color: #0d61a6;
}
/* line 192, ../sass/_landing.scss */
[class*="main__folders__inner__content__item--"] i {
  font-size: 2em;
}
/* line 194, ../sass/_landing.scss */
[class*="main__folders__inner__content__item--"] i.icon-for-text {
  margin-right: 10px;
}

/* line 199, ../sass/_landing.scss */
[class*='main__folders__inner__content__item'] > .book-end {
  width: 100%;
  height: 20px;
  background-color: #dcf0fb;
}
/* line 203, ../sass/_landing.scss */
[class*='main__folders__inner__content__item'] > .book-end:first-child {
  border-top: none;
  border-bottom: 1px solid #ccc;
}
/* line 207, ../sass/_landing.scss */
[class*='main__folders__inner__content__item'] > .book-end:last-child {
  border-top: 1px solid #ccc;
  border-bottom: none;
}

/* line 213, ../sass/_landing.scss */
.main__folders__inner__content__item--primary .main__folders__inner__content__item__content {
  align-items: center;
}

/* line 217, ../sass/_landing.scss */
.main__folders__inner__content__item--secondary {
  color: #0d61a6;
}
/* line 218, ../sass/_landing.scss */
.main__folders__inner__content__item--secondary span {
  font-size: 0.875em;
}
/* line 220, ../sass/_landing.scss */
.main__folders__inner__content__item--secondary.selected {
  color: #fff;
  background-color: #0d61a6;
}
/* line 223, ../sass/_landing.scss */
.main__folders__inner__content__item--secondary.selected span {
  color: #fff;
}
/* line 225, ../sass/_landing.scss */
.main__folders__inner__content__item--secondary .main__folders__inner__content__item__content {
  text-indent: 20px;
}

/* line 229, ../sass/_landing.scss */
.main__folders__inner__content__item__content {
  display: flex;
  display: -webkit-flex;
  padding: 10px 15px;
}

/* line 233, ../sass/_landing.scss */
.main__folders__inner__content__item__text {
  display: flex;
  display: -webkit-flex;
  justify-content: flex-start;
  -webkit-justify-content: flex-start;
  align-items: flex-start;
  -webkit-align-items: flex-start;
  flex-wrap: no-wrap;
  -webkit-flex-wrap: no-wrap;
  flex-flow: column;
  text-indent: 0px;
}
/* line 237, ../sass/_landing.scss */
.main__folders__inner__content__item__text span {
  margin-top: 2px;
  font-weight: 400;
  color: #999;
}

/* ----------- modal transitions ----------- */
/* line 2, ../sass/_modal.scss */
.trans {
  opacity: 0;
  transition: opacity 0.25s ease;
}

/* line 6, ../sass/_modal.scss */
.trans.shown {
  opacity: 1;
}

/* line 9, ../sass/_modal.scss */
.modal.trans > .modal__dialog {
  transform: scale(0.3) translate(0, -75%);
  transition: transform 0.5s ease;
}

/* line 13, ../sass/_modal.scss */
.modal.shown > .modal__dialog {
  transform: scale(1) translate(0, 0);
}

/* ----------- modal ----------- */
/* line 17, ../sass/_modal.scss */
.modal {
  display: none;
  overflow: hidden;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1050;
}

/* line 29, ../sass/_modal.scss */
.modal__close {
  float: right;
}

/* line 32, ../sass/_modal.scss */
.modal__close.bottom {
  color: #333;
  border: 1px solid #B1B2B2;
  background-color: #fff;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}

/* line 39, ../sass/_modal.scss */
.modal__footer:after {
  content: "";
  display: table;
  clear: both;
}

/* line 44, ../sass/_modal.scss */
.modal__dialog {
  -webkit-box-shadow: 0 4px 12px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0 4px 12px 2px rgba(0, 0, 0, 0.3);
  height: 90%;
  top: 5%;
  position: relative;
  z-index: 1050;
  width: 900px;
  margin: 0 auto;
  background-color: #fff;
}
/* line 57, ../sass/_modal.scss */
.modal__dialog.progress .modal__header {
  height: 80px;
}
/* line 60, ../sass/_modal.scss */
.modal__dialog.progress .modal__body {
  height: calc(100% - (2 * 50px + 30px) );
}

/* line 65, ../sass/_modal.scss */
.modal a {
  text-decoration: none;
  color: #fff;
}

/* line 69, ../sass/_modal.scss */
.modal__header {
  padding: 12px 20px;
  background-color: #0d61a6;
  font-size: 1.2em;
  color: #fff;
  height: 50px;
  width: 100%;
  position: relative;
  z-index: 200;
}

/* line 79, ../sass/_modal.scss */
.modal__body {
  position: relative;
  padding: 15px 50px 25px 50px;
  overflow-y: auto;
  height: calc(100% - 2*50px);
}

/* line 85, ../sass/_modal.scss */
.modal__footer {
  height: 50px;
  width: 100%;
  padding: 0 20px;
  position: relative;
  z-index: 100;
  display: flex;
  display: -webkit-flex;
  justify-content: flex;
  -webkit-justify-content: flex;
  align-items: center;
  -webkit-align-items: center;
  background-color: #fff;
  border-top: 1px solid #ccc;
}
/* line 94, ../sass/_modal.scss */
.modal__footer > :first-child {
  flex-grow: 1;
  -webkit-flex-grow: 1;
  flex-shrink: 0;
  -webkit-flex-shrink: 0;
  flex-basis: auto;
  -webkit-flex-basis: auto;
}
/* line 97, ../sass/_modal.scss */
.modal__footer > :not(:last-child) {
  margin-right: 10px;
}

/* line 101, ../sass/_modal.scss */
.modal__bg {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1040;
  background-color: rgba(0, 0, 0, 0.75);
}

@keyframes scale {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.5);
  }
}
/* line 7, ../sass/_modal-content1.scss */
[class*='modal__body__'] a {
  color: #0d61a6;
}

/* line 11, ../sass/_modal-content1.scss */
.modal__body__content1__header {
  padding-bottom: 15px;
  margin-bottom: 15px;
  border-bottom: 1px solid #0d61a6;
}
/* line 15, ../sass/_modal-content1.scss */
.modal__body__content1__header h1 {
  font-size: 1.2em;
}

/* line 17, ../sass/_modal-content1.scss */
.modal__body__content1__subheader {
  text-align: center;
  margin-bottom: 15px;
}
/* line 20, ../sass/_modal-content1.scss */
.modal__body__content1__subheader h2 {
  margin: 0;
  font-size: 1.3em;
}

/* line 25, ../sass/_modal-content1.scss */
.modal__body__content1__select {
  cursor: pointer;
  display: flex;
  display: -webkit-flex;
  justify-content: center;
  -webkit-justify-content: center;
  align-items: center;
  -webkit-align-items: center;
  flex-flow: column;
  color: #0d61a6;
  text-align: center;
}
/* line 31, ../sass/_modal-content1.scss */
.modal__body__content1__select > *:not(:last-child) {
  margin-bottom: 10px;
}
/* line 32, ../sass/_modal-content1.scss */
.modal__body__content1__select * {
  pointer-events: none;
}
/* line 33, ../sass/_modal-content1.scss */
.modal__body__content1__select > i {
  font-size: 5em;
}
/* line 34, ../sass/_modal-content1.scss */
.modal__body__content1__select > span {
  font-size: 1.3em;
}
/* line 35, ../sass/_modal-content1.scss */
.modal__body__content1__select > div {
  font-size: 1.3em;
  display: flex;
  display: -webkit-flex;
  justify-content: center;
  -webkit-justify-content: center;
  align-items: center;
  -webkit-align-items: center;
}
/* line 38, ../sass/_modal-content1.scss */
.modal__body__content1__select > div > i {
  color: #fff;
  -webkit-text-shadow: 0px 0px 1px #0d61a6;
  text-shadow: 0px 0px 1px #0d61a6;
  font-size: 2.5em;
  margin-right: 10px;
}
/* line 46, ../sass/_modal-content1.scss */
.modal__body__content1__select[aria-pressed="false"]:hover > div > i {
  animation-name: scale;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}
/* line 53, ../sass/_modal-content1.scss */
.modal__body__content1__select[aria-pressed="true"] > div, .modal__body__content1__select[aria-pressed="true"] > span {
  font-weight: bold;
}
/* line 55, ../sass/_modal-content1.scss */
.modal__body__content1__select[aria-pressed="true"] > div i, .modal__body__content1__select[aria-pressed="true"] > span i {
  text-shadow: none;
  color: #0d61a6;
}

/* line 63, ../sass/_modal-content1.scss */
.modal__body__content1 p {
  font-size: 0.875em;
}
/* line 65, ../sass/_modal-content1.scss */
.modal__body__content1 p:first-of-type {
  margin-top: 30px;
}
/* line 69, ../sass/_modal-content1.scss */
.modal__body__content1 .col-6-12 {
  padding: 20px;
}
/* line 71, ../sass/_modal-content1.scss */
.modal__body__content1 .col-6-12:last-child {
  border-left: 1px solid #3b79b1;
}

/* line 6, ../sass/_modal-content2.scss */
.modal__body__content2 {
  padding-top: 10px;
}
/* line 8, ../sass/_modal-content2.scss */
.modal__body__content2 h2 {
  font-size: 1.1em;
  font-weight: 600;
  color: #0d61a6;
}

/* line 14, ../sass/_modal-content2.scss */
.modal__body__content2 > .col {
  padding: 0 20px;
}

/* line 17, ../sass/_modal-content2.scss */
.modal__body__content2__image {
  height: 150px;
  background-color: #eee;
  text-align: center;
}
/* line 24, ../sass/main.scss */
.modal__body__content2__image i {
  color: #ddd;
  font-size: 120px;
  position: relative;
  top: 15px;
}

/* line 21, ../sass/_modal-content2.scss */
.modal__body__content2__panel:not(:last-child) {
  margin-bottom: 25px;
}

/* line 25, ../sass/_modal-content2.scss */
.modal__body__content2__panel__header {
  border: 2px solid #dcf0fb;
  border-bottom: 1px solid #0d61a6;
  height: 40px;
  padding-left: 15px;
  display: flex;
  display: -webkit-flex;
  justify-content: flex-start;
  -webkit-justify-content: flex-start;
  align-items: center;
  -webkit-align-items: center;
}
/* line 31, ../sass/_modal-content2.scss */
.modal__body__content2__panel__header > h2 {
  margin: 0;
}
/* line 33, ../sass/_modal-content2.scss */
.modal__body__content2__panel__header > h2 > i {
  margin-left: 6px;
}

/* line 36, ../sass/_modal-content2.scss */
.modal__body__content2__panel__body {
  border: 2px solid #dcf0fb;
  background-color: #dcf0fb;
  min-height: 30px;
  padding: 15px;
}
/* line 41, ../sass/_modal-content2.scss */
.modal__body__content2__panel__body input[type="text"] {
  color: #aaa;
  font-style: italic;
}

/* line 46, ../sass/_modal-content2.scss */
.resource-type {
  width: 50%;
}
/* line 48, ../sass/_modal-content2.scss */
.resource-type [class*='prop__'] {
  width: 100%;
}

/* line 50, ../sass/_modal-content2.scss */
.source-type {
  width: 50%;
}
/* line 52, ../sass/_modal-content2.scss */
.source-type [class*='prop__'] {
  width: 100%;
}

/* line 54, ../sass/_modal-content2.scss */
.file-info select {
  width: 150px;
}

/* line 55, ../sass/_modal-content2.scss */
.pub-year input[type="text"] {
  width: 80px;
}

/* line 56, ../sass/_modal-content2.scss */
.prim-auth .mi {
  width: 40px;
}

/* line 57, ../sass/_modal-content2.scss */
.page-range {
  margin-bottom: 0 !important;
}
/* line 59, ../sass/_modal-content2.scss */
.page-range span {
  margin-right: 5px;
}
/* line 60, ../sass/_modal-content2.scss */
.page-range input[type="text"] {
  width: 40px;
}
/* line 62, ../sass/_modal-content2.scss */
.page-range input[type="text"]:first-of-type {
  margin-right: 5px;
}

/* line 65, ../sass/_modal-content2.scss */
.prop {
  display: flex;
  display: -webkit-flex;
  justify-content: flex-start;
  -webkit-justify-content: flex-start;
  align-items: baseline;
  -webkit-align-items: baseline;
  flex-wrap: no-wrap;
  -webkit-flex-wrap: no-wrap;
  flex-flow: column;
}
/* line 68, ../sass/_modal-content2.scss */
.prop:not(:last-child) {
  margin-bottom: 15px;
  margin-right: 20px;
}
/* line 73, ../sass/_modal-content2.scss */
.prop.flex-grow1 > .prop__values {
  flex-grow: 1;
  width: 100%;
}
/* line 77, ../sass/_modal-content2.scss */
.prop.flex-grow1 .prop__value {
  flex-grow: 1;
}

/* line 80, ../sass/_modal-content2.scss */
.prop-row {
  display: flex;
  display: -webkit-flex;
  justify-content: space-between;
  -webkit-justify-content: space-between;
  align-items: baseline;
  -webkit-align-items: baseline;
  flex-wrap: no-wrap;
  -webkit-flex-wrap: no-wrap;
}

/* line 81, ../sass/_modal-content2.scss */
.prop.inline {
  display: inline-flex;
  display: -webkit-inline-flex;
  justify-content: flex-start;
  -webkit-justify-content: flex-start;
  align-items: baseline;
  -webkit-align-items: baseline;
  flex-wrap: no-wrap;
  -webkit-flex-wrap: no-wrap;
}

/* line 82, ../sass/_modal-content2.scss */
.prop__label {
  font-weight: bold;
}

/* line 83, ../sass/_modal-content2.scss */
.prop__values {
  display: flex;
  display: -webkit-flex;
  justify-content: flex-start;
  -webkit-justify-content: flex-start;
  align-items: baseline;
  -webkit-align-items: baseline;
  flex-wrap: no-wrap;
  -webkit-flex-wrap: no-wrap;
}

/* line 85, ../sass/_modal-content2.scss */
.prop__value:not(:last-child) {
  margin-right: 20px;
}

/* line 9, ../sass/_progress-indicator.scss */
.modal__body__steps {
  width: 100%;
  position: absolute;
  top: 50px;
  left: 0;
  display: none;
}

/* line 16, ../sass/_progress-indicator.scss */
.modal__dialog.progress .modal__body__steps {
  display: block;
}

/* line 17, ../sass/_progress-indicator.scss */
.modal__body__steps__bg {
  width: 100%;
  background-color: #dcf0fb;
  border-bottom: 1px solid #ccc;
  height: 31px;
  position: absolute;
  top: 0;
  left: 0;
}

/* line 26, ../sass/_progress-indicator.scss */
.modal__body__step-indicator {
  margin-bottom: 20px;
  line-height: 30px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #fff;
  border-bottom: 1px solid #ccc;
}

/* line 35, ../sass/_progress-indicator.scss */
.modal__body__step-indicator__step {
  font-size: 0.8em;
  display: block;
  float: left;
  background: #dcf0fb;
  padding-right: 10px;
  height: 30px;
  line-height: 30px;
  margin-right: 33px;
  position: relative;
  text-decoration: none;
  color: #aaa;
  cursor: default;
}
/* line 49, ../sass/_progress-indicator.scss */
.modal__body__step-indicator__step:before {
  content: "";
  display: block;
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
  left: -30px;
  border: 15px solid transparent;
  border-color: #dcf0fb;
  border-left-color: transparent;
}
/* line 62, ../sass/_progress-indicator.scss */
.modal__body__step-indicator__step:after {
  content: "";
  display: block;
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
  right: -30px;
  border: 15px solid transparent;
  border-left-color: #dcf0fb;
}
/* line 74, ../sass/_progress-indicator.scss */
.modal__body__step-indicator__step:first-of-type {
  padding-left: 15px;
}
/* line 76, ../sass/_progress-indicator.scss */
.modal__body__step-indicator__step:first-of-type:before {
  display: none;
}
/* line 79, ../sass/_progress-indicator.scss */
.modal__body__step-indicator__step.no-after:after {
  display: none;
}
/* line 81, ../sass/_progress-indicator.scss */
.modal__body__step-indicator__step:last-of-type {
  margin-right: 0;
  padding-right: 0;
}
/* line 84, ../sass/_progress-indicator.scss */
.modal__body__step-indicator__step:last-of-type:after {
  display: none;
}
/* line 87, ../sass/_progress-indicator.scss */
.modal__body__step-indicator__step.completed {
  background: #fff;
  color: #333;
  cursor: pointer;
}
/* line 91, ../sass/_progress-indicator.scss */
.modal__body__step-indicator__step.completed:before {
  border-color: #fff;
  border-left-color: transparent;
}
/* line 95, ../sass/_progress-indicator.scss */
.modal__body__step-indicator__step.completed:after {
  border-left-color: #fff;
}

@media screen and (max-width: 767px) {
  /* line 130, ../sass/main.scss */
  body, .modal {
    padding-left: 15px;
    padding-right: 15px;
  }

  /* line 134, ../sass/main.scss */
  .grid, .modal__dialog {
    width: 100%;
  }
}
@media screen and (min-width: 768px) {
  /* line 137, ../sass/main.scss */
  .grid, .modal__dialog {
    width: 750px;
  }
}
@media screen and (min-width: 992px) {
  /* line 140, ../sass/main.scss */
  .grid, .modal__dialog {
    width: 970px;
  }
}
@media screen and (min-width: 1200px) {
  /* line 143, ../sass/main.scss */
  .grid, .modal__dialog {
    width: 1170px;
  }
}
